<!DOCTYPE HTML>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Proximibee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/jqeury.mobile.theme.min.css" />
    <link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="css/jquery.mobile.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/nightly.css" />
    <link rel="stylesheet" href="css/application.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic%7COswald:400,700' rel='stylesheet' type='text/css'>

    <!-- JS Scripts -->
    <script type="text/javascript" src="js/simpleCart.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/nightly.js"></script>
    <script src="cordova.js"></script>
    <script src="app.js"></script>
    <script src="js/productscroll.js"></script>

  </head>

    <body>
      <%= partial :header %>
      <%= partial :basket %>

      <%= yield %>

      <%= partial :footer %>

    </body>

</html>