<!-- View: Out of range -->

  <div data-role="content">

    <div id="beacon2" style="display: block">

      <div data-role="none" id="outofrange">

        <div class="item">
          <img src="assets/background1.png" alt="Grab">
          <div class="text">
            <h1>Oh, Snap!</h1>
            <br>
            <h2>You are not in range of the Proximibee network</h2>
            <br><br><br>
            <div id="google">
            <img src="assets/map.png">
            </div>
          </div>
        </div>
      </div>

      <footer>
        <button id="scan">Scan</button>
      </footer>

    </div>
  </div>
  <!-- /Out of range -->